html {
    background-color: white;
}

body {
    -moz-user-select: none;
}

li:hover {
    background-color: #e8e8e8;
}

ul li.no-hover {
    background-color: #ffffff;
    cursor: auto;
}

ul {
    list-style: none outside none;
    margin: auto;
    user-select: none;
    padding-left: 0;
}

ul li {
    cursor: pointer;
    padding: 0.5em 2em 0.5em;
    text-align: center;
}

ul li + li {
    border-top: 1px solid #c2c2c2;
}

ul li input {
    margin-top: 1.5em;
    width: 80%;
}

.gear {
    cursor: pointer;
    position: relative;
    left: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
}
